body {
  font-family: 'Segoe UI',  sans-serif;
}

h1 {
  font-family: 'Helvetica Neue';
}


html {
  scroll-behavior: smooth;
}

@media only screen and (min-width: 960px) {
  .base-page {
    margin: 0;
  }
}

.App{
  text-align: center;
 
}
.msgErro{
  color: red;
  font-size:12px;
}
.blackText{
  color: black;
}

.editable-rm-margin{
  margin-top: 0px !important;
}

/* main > :first-child {
  margin-top: 10px;
}

main > :last-child {
  margin-bottom:10px;
} */

/* maxW={{
  base: "auto", // 0-80em
  xl: "1200px" // 80em+
}} */